.field {
    border: 3px solid black;
    width: 100px;
    height: 100px;
}

.cell {
    visibility: visible;
    position: relative;
    display: inline-block;
    background-color: cadetblue;
    float:left;
    width: 30%;
    padding-bottom: 30%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
}