<html>

{{define "header"}}
    <link rel="stylesheet" type="text/css" href="resources/index.css" />
{{end}}

{{define "body"}}
    <body>
        Agent Gopher
    </body>
{{end}}

{{define "footer"}}
  <footer>
  <hr>
    <p>
      Contributions welcome at <a href="https://github.com/emilyagras/AgentGopher">github.com/emilyagras/AgentGopher</a>!
    </p>
  </footer>
{{end}}

{{define "square"}}
  <div class="square">
  </div>
{{end}}

{{template "header"}}
{{template "body"}}
{{template "square"}}
{{template "footer"}}

</html>
